.certificate {
  text-decoration: none;
  color: var(--pure-black);
  border: 2px solid var(--light-blue);
  border-radius: 5px;
  background-color: var(--primary-white);
  padding: 4px;
  z-index: 1;
}

.certificate:hover {
  background-color: var(--secondary-white);
}

.purple_bg {
  box-shadow: 0px 0px 50px rgba(117, 28, 219, 0.5);
}
.blue_bg {
  box-shadow: 0px 0px 50px rgba(43, 211, 254, 0.5);
}

[data-theme='dark'] .certificate {
  color: var(--primary-white);
  background-color: initial;
}
[data-theme='dark'] .certificate:hover {
  background-color: var(--contrast-black-2);
}
