.hobbies_container .hobbies_icons {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .hobbies_container .hobbies_icons img {
    width: 40px;
  }
}
@media screen and (max-width: 320px) {
  .hobbies_container .hobbies_icons img {
    width: 30px;
  }
}
