.languajes_container .bars_container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.languajes_container .bar_container {
  height: 50px;
  border-radius: 5px;
  border: 4px solid var(--contrast-black);
  padding: 4px;
}

.languajes_container .bar {
  background: linear-gradient(to right, var(--light-blue), var(--purple));
  text-decoration: none;
  cursor: default;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-white);
}
.languajes_container .spanish_bar {
  width: 100%;
}
.languajes_container .english_bar,
.languajes_container .german_bar {
  width: 90%;
  cursor: pointer;
}
.languajes_container .english_bar div,
.languajes_container .german_bar div {
  margin-left: 10%;
}
