.skills,
.languajes,
.hobbies {
  background: var(--secondary-white);
}

.skills_container,
.projects_container,
.languajes_container,
.certificates_container,
.hobbies_container {
  padding: 30px 4px 50px;
}

.title_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

/* ------------------------------- Main -------------------------------*/

.main {
  margin: 60px 0 110px;
}

.main_container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    'picture logo'
    'picture description';
}
.main_container .picture_container {
  grid-area: picture;
  position: relative;
  width: 280px;
  height: 375px;
  z-index: 0;
  /* filter: drop-shadow(0px 0px 35px var(--light-blue)); */
  filter: drop-shadow(0px 0px 0px var(--light-blue));
}
.main_container .picture_container::before {
  content: '';
  position: absolute;
  border: 20px solid var(--light-blue);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  top: 50px;
  right: 50px;
  z-index: -1;
}
.main_container .picture_container::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 40%;
  border-radius: 50%;
  background: var(--light-blue);
  top: 0;
  left: 26px;
  z-index: -1;
  filter: blur(60px);
}
.main_container .presentation_upper {
  grid-area: logo;
  display: flex;
  position: relative;
  top: -8px;
  text-align: left;
  gap: 32px;
  margin-left: 8px;
}
.main_container .presentation_upper h1 {
  font-weight: bold;
}
.main_container .hero_description_and_buttons {
  grid-area: description;
  text-align: left;
  margin-left: 8px;
}
.main_container .presentation_quote {
  margin-bottom: 24px;
}

.main_container .buttons {
  margin-top: 30px;
  display: flex;
  gap: 12px;
  justify-content: flex-start;
  filter: drop-shadow(0px 0px 35px var(--purple));
}
/* .main_container .buttons::after {
  content: '';
  position: absolute;
  width: 25%;
  height: 200%;
  border-radius: 50%;
  background: rgba(117, 28, 219, 0.4);
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(20px);
} */

/* ------------------------------- Skills -------------------------------*/
.skills_container h3 {
  margin-bottom: 16px;
}
.skills_container .skills_grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 16px;
}

.skills_container .backend_section,
.skills_container .database_section,
.skills_container .design_section {
  margin-top: 24px;
}
.skills_container .skill_card {
  width: 75px;
  margin: 0 auto;
  position: relative;
}
.skills_container .skill_icon {
  background: var(--primary-white);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--light-blue);
  height: 90px;
  border-radius: 5px;
}
.skills_container .skill_card p {
  text-align: center;
  line-height: 24px;
}

.skills_container .ts_bg_stain {
  filter: drop-shadow(0px 0px 40px rgba(49, 120, 198, 1));
}
.skills_container .graph_ql_bg_stain {
  filter: drop-shadow(0px 0px 40px rgba(229, 53, 171, 1));
}
.skills_container .redux_bg_stain {
  filter: drop-shadow(0px 0px 40px rgba(118, 74, 188, 1));
}
.skills_container .node_bg_stain {
  filter: drop-shadow(0px 0px 40px rgba(140, 200, 75, 1));
}
.skills_container .mongoose_bg_stain {
  filter: drop-shadow(0px 0px 40px rgba(183, 28, 28, 1));
}
.skills_container .sql_bg_stain {
  filter: drop-shadow(0px 0px 40px rgba(0, 188, 242, 1));
}
.skills_container .illustrator_bg_stain {
  filter: drop-shadow(0px 0px 40px rgba(255, 87, 34, 1));
}
.skills_container .xd_bg_stain {
  filter: drop-shadow(0px 0px 40px rgba(255, 65, 200, 1));
}
/* ------------------------------- Projects -------------------------------*/
/* ------------------------------- Languages -------------------------------*/
/* ----------------------------- Certificates -----------------------------*/
/* ------------------------------- Hobbies -------------------------------*/

/* MQ  */
@media screen and (max-width: 767px) {
  .main {
    margin: 50px 0;
  }
  .main_container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'picture logo'
      'description description';
  }
  .main_container .picture_container,
  .main_container .picture_container img {
    width: 200px;
    height: 266px;
  }
  .main_container .picture_container {
    margin: 0 auto;
  }
  .main_container .presentation_upper {
    flex-direction: column;
    align-items: center;
    top: 10px;
    left: -40px;
    text-align: center;
  }
  .main_container .hero_description_and_buttons {
    margin-top: 70px;
  }
  .main_container .buttons {
    justify-content: center;
  }

  .skills_container .skills_grid {
    grid-template-columns: repeat(5, 1fr);
  }
  .skills_container .ts_bg_stain {
    filter: drop-shadow(0px 0px 0px rgba(49, 120, 198, 1));
  }
  .skills_container .sql_bg_stain {
    filter: drop-shadow(0px 0px 0px rgba(0, 188, 242, 1));
  }
}

/* MQ used for small details */
@media screen and (max-width: 534px) {
  .main_container .presentation_upper {
    left: -16px;
  }
}
@media screen and (max-width: 480px) {
  .main {
    margin-top: 0;
  }
  .main_container {
    grid-template-columns: 1fr;
    grid-template-areas:
      'logo'
      'picture'
      'description';
  }
  .main_container .picture_container::after {
    top: 100px;
    left: 26px;
  }

  .main_container .presentation_upper {
    left: 0;
    gap: 0;
  }
  .main_container .presentation_upper img {
    max-width: 100px;
  }

  .main_container .picture_container {
    margin: 40px auto 24px;
  }

  .skills_container .skills_grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .skills_container .graph_ql_bg_stain {
    filter: drop-shadow(0px 0px 0px rgba(229, 53, 171, 1));
  }
  .skills_container .illustrator_bg_stain {
    filter: drop-shadow(0px 0px 0px rgba(255, 87, 34, 1));
  }
}
@media screen and (max-width: 320px) {
  .main_container .presentation_upper h1 {
    font-size: 32px;
  }
  .skills_container .node_bg_stain {
    filter: drop-shadow(0px 0px 0px rgba(140, 200, 75, 1));
  }
}

/* Dark theme  */
[data-theme='dark'] .container {
}

[data-theme='dark'] .skills,
[data-theme='dark'] .languajes,
[data-theme='dark'] .hobbies {
  background: var(--light-black);
}

[data-theme='dark'] .main_container .buttons {
  filter: none;
}
[data-theme='dark'] .main_container .buttons::after {
  background: rgba(0, 0, 0, 0.4);
}
[data-theme='dark'] .main_container .picture_container::after {
  background: initial;
}

[data-theme='dark'] .skills_container .skill_icon {
  background: initial;
}
